@import "../../main.scss";

.card-container--img {
  width: 265px;
  height: 400px;
  border-radius: 5%;
  background-color: $secondary-hover;
  z-index: 1;
}

.card-container {
  width: 265px;
  height: 400px;
  border-radius: 5%;
  z-index: 2;
  position: relative;

  .agent-content {
    border-radius: inherit;
    width: 100%;
    height: 100%;

    .buttons-container {
      display: none;
    }

    &:hover {
      transition: background-color 0.5s ease;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: inherit;
      height: 100%;

      .agent-info-container {
        transition: transform 0.5s ease-in;
        transform: translate(0%, -135%);
        transition: agent-info-secondary 1s ease;
        height: 50%;

        .agent-info-secondary {
          display: flex;
          flex-direction: column;
          width: fit-content;
          height: 50%;


          .agent-description {
            text-align: justify;
            font-size: .8rem;
          }
          .agent-abilities-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: auto;
            margin: 20px 0;

            .ability-name {
              font-size: .45rem;
              text-align: center;
            }

            div {
              display: flex;
              flex-direction: column;
              text-align: center;
              width: 35px;
              height: 30px;
            }
          }
        }
        .buttons-container {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          margin-top: 25px;

          .read-more {
            border: 1px solid $white;
            border-radius: 8px;
            color: $white;
            width: 75%;

            &:hover {
              background-color: $primary;
              border: 1px solid $primary;
            }

            &:active {
              transition: background-color 0.15s ease-out;
              background-color: $primary-dark;
              border: 1px solid $primary-dark;
            }
          }

          .add-favorite {
            display: block;
            border: 1px solid $white;
            border-radius: 8px;
            color: $white;
            width: 18%;
            height: 100%;
            position: relative;

            &:hover {
              background-color: $primary;
              border: 1px solid $primary;
            }

            &:active {
              transition: background-color 0.15s ease-out;
              background-color: $light;
              border: 1px solid $light;
            }

            .heart {
              background-image: url("../../assets/icon/heart.svg");
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 25px;
              height: 25px;
              position: absolute;
              top: 12.5%;
              left: 18.5%;
            }

            .heart-click {
              background-image: url("../../assets/icon/heart-filled.svg");
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 25px;
              height: 25px;
              position: absolute;
              top: 12.5%;
              left: 18.5%;
            }
          }
        }

        .agent-info-principal {
          margin-bottom: 0px;
        }
      }
    }

    .agent-info-container {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 310px;
      color: $white;
      padding: 0 10px;
      height: 100%;
      .agent-info-principal {
        margin-bottom: 30px;
      }
    }

    .agent-info-secondary {
      display: none;
      
    }
  }

    .agent-content-click-responsive {
    z-index: 2;
    transition: background-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    height: 100%;

    .agent-info-container {
      transition: transform 0.5s ease-in;
      transform: translate(0%, -135%);
      transition: agent-info-secondary 1s ease;
      height: 50%;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 310px;
      color: $white;
      padding: 0 10px;

      .agent-info-principal {
        margin-bottom: 0px;
      }

      .agent-info-secondary {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;

        .agent-description {
          text-align: justify;
          font-size: .8rem;
        }
        .agent-abilities-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          height: auto;
          margin: 20px 0;

          .ability-name {
            font-size: .45rem;
            text-align: center;
          }

          div {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 35px;
            height: 30px;
          }
        }

        .buttons-container {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          margin-top: 25px;

          .read-more {
            border: 1px solid $white;
            border-radius: 8px;
            color: $white;
            width: 75%;

            &:hover {
              background-color: $primary;
              border: 1px solid $primary;
            }

            &:active {
              background-color: $primary-dark;
              border: 1px solid $primary-dark;
            }
          }

          .add-favorite {
            display: block;
            border: 1px solid $white;
            border-radius: 8px;
            color: $white;
            width: 18%;
            height: 100%;
            position: relative;

            &:active {
              background-color: $primary;
              border: 1px solid $primary;
              transition: background-color 0.15s ease-out;
              background-color: $light;
              border: 1px solid $light;
            }

            .heart {
              background-image: url("../../assets/icon/heart.svg");
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 25px;
              height: 25px;
              position: absolute;
              top: 12.5%;
              left: 18.5%;
            }

            .heart-click {
              background-image: url("../../assets/icon/heart-filled.svg");
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 25px;
              height: 25px;
              position: absolute;
              top: 12.5%;
              left: 18.5%;
            }
          }
        }
      }
    }
  }
}

// CARDS MODALS STYLES

.card-container--modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 20px;
  width: 80%;
  height: 80%;
  position: relative;
  top: 15%;
  margin: auto 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 5;
  
  .card-container--modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    
    .card-container--modal-backgroung-color-left {
      background-color: $light;
      border-radius: 20px 0 0 20px;
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      z-index: -1;
    }

    .card-container--modal-content-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  
  .card-container--modal-content-info {
    background-color: $secondary;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 0 20px 20px 0;

    .close-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      right: 30px;
      cursor: pointer;
    }

    .leftright{
      height: 4px;
      width: 20px;
      position: absolute;
      margin-top: 24px;
      background-color: $white;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all .3s ease-in;
    }

    .rightleft{
      height: 4px;
      width: 20px;
      position: absolute;
      margin-top: 24px;
      background-color: $white;
      border-radius: 2px;
      transform: rotate(-45deg);
      transition: all .3s ease-in;
    }

    label{
      color: white;
      font-family: Helvetica, Arial, sans-serif; 
      font-size: .6em;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all .3s ease-in;
      opacity: 0;
    }
    .close{
      margin: 60px 0 0 5px;
      position: absolute;
    }

    .close-container:hover .leftright{
      transform: rotate(-45deg);
      background-color: $primary;
    }
    .close-container:hover .rightleft{
      transform: rotate(45deg);
      background-color: $primary;
    }
    .close-container:hover label{
      opacity: 1;
    }

    .agent-tags {
      font-size: 0.8rem;
    }
    


    .card-container-modal-content-info-right {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-color: $primary $secondary;
      scrollbar-width: thin;

      .card-container--modal-content-info-principal {
        margin-bottom: 20px;
        .agent-icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          text-align: end;
          margin-right: 10px;
        }
        .agent-role-container {
          display: flex;
          flex-direction: column;
          .agent-role-type  {
            display: flex;
            align-items: center;
          }
          .agent-role--icon {
            width: 15px;
            height: auto;
            margin-right: 5px;
          }
        }
      }
      .card-container--modal-content-info-secondary {
        
        .agent-description {
          margin-bottom: 20px;
        }
        .agent-abilities-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: auto;

          div img {
            width: 40px;
            height: auto;
            margin-right: 10px;
          }
        }

        .agent-abilities-container > div {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          width: 100%;
          height: auto;
          margin-bottom: 10px;
        }
      }
      
    }
  }
}
